@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .windowArrow {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
  }
}

/* Compare Card Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  background-color: #f2f2f2;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 8px;
  width: 99px;
  border: 4px solid white;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

/* Compare Card Custom Scrollbar */

.tabletCardSlider .splide__slide {
  width: 325px !important;
}

.tabletCardSlider .splide__list {
  display: flex;
  gap: 0.75rem; /* Adjusts space between slides */
}
.tabletCardSlider {
  overflow-x: hidden !important;
}

/* Rotate Search Location Cards */

.locationCard .splide__pagination {
  display: none;
}
.locationCard .splide__arrow {
  width: 20px;
  height: 20px;
}
.locationCard .splide__arrow svg {
  width: 12px;
  height: 10px;
}

@media (max-width: 768px) {
  .locationCard .splide__arrow {
    display: none;
  }
}

/* */

.horizontal-slider {
  width: 100%;
  height: 8px;
  max-width: 240px;
  border: 1px solid #ddd;
  border-radius: 1rem;
  background-color: #e2e8f0;
}
.horizontal-slider.bedroomSlider {
  max-width: 100%;
}

.horizontal-slider .thumb {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  transform: translateY(-0.5rem);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.horizontal-slider .thumb:before {
  content: "";
  background-color: #e2e8f0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.horizontal-slider .track-1 {
  background-color: black;
  height: 100%;
}
