@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .windowArrow {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
  }
}
/*
.rangeSlider input[type="range"]::-webkit-slider-thumb {
  border: 2px solid #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
input[type="range"] {
  appearance: none;
  margin: 0;
  padding: 0;
}
  */
.locationCard .splide__pagination {
  display: none;
}
.locationCard .splide__arrow {
  width: 20px;
  height: 20px;
}
.locationCard .splide__arrow svg {
  width: 12px;
  height: 10px;
}

.horizontal-slider {
  width: 100%;
  height: 8px;
  max-width: 240px;
  border: 1px solid #ddd;
  border-radius: 1rem;
  background-color: #e2e8f0;
}
.horizontal-slider.bedroomSlider {
  max-width: 100%;
}

.horizontal-slider .thumb {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  transform: translateY(-0.5rem);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.horizontal-slider .thumb:before {
  content: "";
  background-color: #e2e8f0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.horizontal-slider .track-1 {
  background-color: black;
  height: 100%;
}
